@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
svg.star-svg {
  display: inline;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

@font-face {
  font-family: "TBC-Regular";
  src: url("/fonts/TBCContractica-Regular.ttf");
}

@font-face {
  font-family: "TBC-Medium";
  src: url("/fonts/TBCContractica-Medium.ttf");
}
@font-face {
  font-family: "TBC-Bold";
  src: url("/fonts/TBCContracticaCAPS-Bold.ttf");
}

@font-face {
  font-family: "TBCX-Medium";
  src: url("/fonts/TBCContracticaCAPS-Medium.ttf");
}
body {
  font-family: "TBC-Regular", sans-serif;
}

.tbc-regular {
  font-family: "TBC-Regular", sans-serif;
}

.tbc-medium {
  font-family: "TBC-Medium", sans-serif;
}
.tbc-bold {
  font-family: "TBC-Bold", sans-serif;
}

.tbcx-medium {
  font-family: "TBCX-Medium", sans-serif;
}

select {
  padding: 5px;
}
option {
  margin-bottom: 5px;
  padding: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #b9b4b4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slider-dots {
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.slider-dots.active {
  background-color: green;
}

#SVGRepo_iconCarrier {
  width: 80px;
  height: 80px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/* .slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
 */

